* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    word-wrap: break-word;
    word-break: break-all;
}

:root {
    --price-tag-background: #d1d5db;
    --price-tag-height: 2rem;
    --line-hight-22: 22px;
    --gray200: #f7f7f7;
    --gray100: #fff;
    --gray400: #E1E1E1;
    --gray600: #999999;
    --gary800: #323232;
    --labelRed: #fd1f1f;
    --linkColor: #448acb;
    --starColor: #f4b434;
    --boxShadow-level1: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --boxShadow-level2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.mg_t_4 {
    margin-top: 4px;
}

.mg_r_4 {
    margin-right: 4px;
}

.mg_b_16 {
    margin-bottom: 16px;
}

body {
    width: 100%;
    background-color: var(--gray200);
}

a {
    color: var(--linkColor);
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.h1-title {
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    width: 500px;
    color: var(--gary800);
}

/* ========================== card */
.card-container {
    display: grid;
    gap: 15px;
    width: 500px;
    padding: 24px;
    border: 1px solid var(--gray400);
    border-radius: 16px;
    background-color: var(--gray100);
}

.card {
    max-width: 500px;
    width: 100%;
    padding: 10px 16px;
    color: var(--gary800);
    background: var(--gray100);
    border-radius: 12px;
    box-shadow: var(--boxShadow-level1);
    resize: both;
    transition: all .3s linear;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: var(--boxShadow-level2);
}

.card__header {
    display: flex;
    align-items: center;
    height: 32px;
}

.card__labelLightRed {
    display: flex;
    align-items: center;
    height: 16px;
    padding: 2px 4px;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    color: var(--gray100);
    white-space: nowrap;
    border-radius: 2px;
    background-color: var(--labelRed);
}

.card__item {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    height: 32px;
}

.card__item>a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
}

.card__item__img {
    width: auto;
    height: 26px;
}

.card__item__icon {
    width: auto;
    height: 16px;
}

.card__item__flexNoBorder {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.card__item__head_starWrap {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    white-space: nowrap;
    vertical-align: middle;
}

.card__item__star {
    color: var(--starColor);
}

.card__item__timeWrapper {
    margin-left: 8px;
    white-space: nowrap;
}

.card__item__timeDescription {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    color: var(--gray600);
}

.card__item__timeRemaining {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    line-height: var(--line-hight-22);
    white-space: nowrap;
}

.card__item__detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 34px;
    padding: 2px 10px;
    background: var(--gray200);
    border-radius: 6px;
}

.card__item__detail>p {
    font-size: 12px;
    font-weight: 700;
    line-height: var(--line-hight-22);
    color: var(--gray600);
}

.card__item__infoSpaceBetween {
    display: flex;
    justify-content: space-between;
    gap: 6px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.card__item__detail__commentSimple {
    display: flex;
    width: 100%;
    align-items: center;
    line-height: var(--line-hight-22);
    color: var(--gray600);
}

.card__item__report>span {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.card__itemm__reportLink>a {
    white-space: nowrap;
    /* 不換行 */
}